<app-cabecalho-back titulo="Detalhes da Venda"></app-cabecalho-back>

<ion-content>
  <ion-card><br>
    <span class="detalhes">Código da Compra: {{idCompra}}</span><br><br>
    <span class="detalhes">Valor da Compra: {{valorCompra | currency: "BRL"}}</span><br><br>
    <span class="detalhes">Forma de Pagamento: {{ condicaoPagamento == "BOLETO" ? "Boleto" : "Cartão" }}</span><br><br>
    <span class="detalhes">Situação da Compra: {{ situacaoCompra == "AGUARDANDO" ? "Aguardando" : "Recebido" }}</span><br><br>
    <span class="detalhes">Data Compra: {{dtPedidoVenda | slice:8:10}}/{{dtPedidoVenda | slice:5:7}}/{{dtPedidoVenda | slice:0:4}}</span><br><br>
    <span class="detalhes">Data Entrega: {{dtEntregaVenda | slice:8:10}}/{{dtEntregaVenda | slice:5:7}}/{{dtEntregaVenda | slice:0:4}}</span><br>

    <h4>Produtos Comprados</h4>
    <ion-item *ngFor="let itens of compra">
      <ion-grid>
        <ion-row>
          <ion-col size="5" class="imagemCarrinho">
              <img width="70px" src="{{itens.produto.fotoEmString}}" />
          </ion-col>
          <ion-col size="7">
            <span class="detalhesCarrinho">{{itens.produto.nomeProduto}}</span><br>
            <span>Quantidade: {{ itens.quantidade }}</span><br>
            <span class="detalhesCarrinho">Valor: {{itens.valor | currency: "BRL"}}</span><br>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-card>
</ion-content>
