.toolbarHeader, ion-icon {
  --background: #0070c0;
  color: white;
}
ion-footer {
  background: #747474;
}
ion-menu-button {
  color: white;
}
ion-content {
  --background: rgb(231, 231, 231) no-repeat center center / cover !important;
  color: black;
}
ion-card {
  --background: white ;
}
ion-fab-button {
  float: left;
  margin: 2px 2px;
  width: 50px;
  height: 50px;
}
ion-col {
  text-align: center;
}
.labelProdutosCategorias {
  font-size: 10px;
  color: rgb(131, 131, 131);
}

.botoesCategorias{
  width: 100%;
  height: 60px;
}

img {
  margin-right: 30px;
}

ion-item span {
  font-size: 15px;
  padding: 10px 0;
}

ion-item {
  margin-right: 10px;
  margin-left: -10px;
}

.center {
  text-align: center;
}

.titulo {
  color: black;
  text-decoration: underline;
}
.produtoIndisponivel {
  color: red;
  font-size: 13px !important;
}
ion-back-button {
  --color: white;
}
