<app-header titulo="Produtos"></app-header>

<ion-content>
  <ion-fab-button><ion-icon name="bag-handle"></ion-icon></ion-fab-button>
  <ion-fab-button><ion-icon name="podium"></ion-icon></ion-fab-button>
  <ion-fab-button><ion-icon name="shirt"></ion-icon></ion-fab-button>
  <ion-fab-button><ion-icon name="basketball"></ion-icon></ion-fab-button>
  <br><br><br>
  <ion-label class="labelProdutosCategorias">Produtos</ion-label>
  <ion-label class="labelProdutosCategorias">Suplementos</ion-label>
  <ion-label class="labelProdutosCategorias">Modas</ion-label>
  <ion-label class="labelProdutosCategorias">Acessórios</ion-label>

  <ion-card *ngFor="let Produtos of produtos">
    <center>
      <img width="150px" src="{{Produtos.fotoEmString}}" />
    </center>
    <ion-card-header>
    <h4>{{Produtos.tipoProduto}} - {{Produtos.modelo}} - R$ {{Produtos.valor}},00</h4>
    </ion-card-header>
  </ion-card>
</ion-content>