<app-cabecalho-back titulo="Validação"></app-cabecalho-back>

<ion-content>

    <ion-content fullscreen class="ion-padding">
      <ion-text>
        <br>
       <center>
        <h2>
          ATENÇÃO
        </h2>
       </center>
       <center>
        <h3> Clique para validar somente quando estiver no local de sua preferência.</h3>
         </center><br><br>
      </ion-text>
      <ion-button expand="block" onclick="handleButtonClick()">Validar Voucher</ion-button>


    </ion-content>


</ion-content>
