<app-cabecalho-back titulo="Academias"></app-cabecalho-back>

<ion-content>

  <ion-card>
    <center>
        <img src="/assets/academia1.jpg">
    </center>
    <ion-card-header>
    <h1>Blue Fit</h1>
    <ul>
      <h5><li>Jiu-Jitsu</li></h5>
      <h5><li>Danças</li></h5>
      <h5><li>Ginástica</li></h5>
      <h5><li>Musculação</li></h5>
    </ul>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <center>
        <img src="/assets/academia2.jpg">
    </center>
    <ion-card-header>
    <h1>Smart Fit</h1>
    <ul>
      <h5><li>Aeróbico</li></h5>
      <h5><li>Ginástica</li></h5>
      <h5><li>Musculação</li></h5>
    </ul>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <center>
        <img src="/assets/academia3.jpg">
    </center>
    <ion-card-header>
    <h1>Bem Estar</h1>
    <ul>
      <h5><li>Aeróbico</li></h5>
      <h5><li>Ginástica</li></h5>
      <h5><li>Musculação</li></h5>
    </ul>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <center>
        <img src="/assets/academia4.jpg">
    </center>
    <ion-card-header>
    <h1>CT 300</h1>
    <ul>
      <h5><li>Endurance</li></h5>
      <h5><li>Fitness</li></h5>
      <h5><li>Gymnastic</li></h5>
      <h5><li>LPO</li></h5>
    </ul>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <center>
        <img src="/assets/academia5.jpg">
    </center>
    <ion-card-header>
    <h1>Punk Crossfit</h1>
    <ul>
      <h5><li>Endurance</li></h5>
      <h5><li>Fitness</li></h5>
      <h5><li>LPO</li></h5>
    </ul>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <center>
        <img src="/assets/academia6.jpg">
    </center>
    <ion-card-header>
    <h1>Piracicaba Gyn</h1>
    <ul>
      <h5><li>Gymnastic</li></h5>
      <h5><li>Endurance</li></h5>
      <h5><li>Fitness</li></h5>
      <h5><li>LPO</li></h5>
    </ul>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <center>
        <img src="/assets/academia7.jpg">
    </center>
    <ion-card-header>
    <h1>Espaço Corpo</h1>
    <ul>
      <h5><li>Pilates</li></h5>
    </ul>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <center>
        <img src="/assets/academia8.jpg">
    </center>
    <ion-card-header>
    <h1>Corpo & Mente</h1>
    <ul>
      <h5><li>Pilates</li></h5>
    </ul>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <center>
        <img src="/assets/academia9.jpg">
    </center>
    <ion-card-header>
    <h1>Fortaleça</h1>
    <ul>
      <h5><li>Pilates</li></h5>
    </ul>
    </ion-card-header>
  </ion-card>


</ion-content>
