.toolbarHeader {
  --background: #0070c0;
  color: white;
}
ion-footer {
  background: #747474;
}
ion-menu-button {
  color: white;
}
ion-content {
  --background: rgb(231, 231, 231) no-repeat center center / cover !important;
  color: black;
  --overflow: hidden;
}
ion-card {
  --background: white ;
}
ion-fab-button {
  float: left;
  margin: 2px 5px;
}
.labelProdutosCategorias {
  margin: -5px 15px 0 2px;
  font-size: 13px;
  color: rgb(131, 131, 131);
}

.botoesCategorias{
  width: 100%;
  height: 60px;
}

img {
  margin-right: 5px;
}

ion-item span {
  font-size: 12px;
  padding: 10px 0;
}

ion-item {
  margin-right: 10px;
  margin-left: -10px;
}

.center {
  text-align: center;
}

.titulo {
  color: black;
  text-decoration: underline;
}
