<ion-header>
  <ion-toolbar class="toolbarHeader">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="" (click)="funcaoBack()"></ion-back-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div [formGroup]="formGroup">
      <h2 class="ion-text-center black">Login</h2>
      <ion-item>
        <ion-label position="floating">Usuário</ion-label>
        <ion-input [(ngModel)]="user.username" formControlName="username" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Senha</ion-label>
        <ion-input [(ngModel)]="user.password" formControlName="password" type="password"></ion-input>
      </ion-item><br>

      <ion-button [disabled]="!formGroup.valid" (click)="doLogin()" expand="full" color="primary">
        Entrar
      </ion-button><br>
        <ion-button [routerLink]="['/novo-usuario']" expand="full" color="primary">
          Novo cadastro
        </ion-button>
        <ion-button [routerLink]="['/recuperar-senha']" expand="full" color="primary">
          Esqueci minha senha
        </ion-button>

    </div>
  </ion-card>
</ion-content>

