<app-cabecalho-back titulo="Clinicas"></app-cabecalho-back>

<ion-content>

  <ion-card>
    <center>
        <img src="/assets/cli1.jpg">
    </center>
    <ion-card-header>
    <h1>Lotus</h1>
    <ul>
      <h5><li>T3 & T4</li></h5>
      <h5><li>Ergométrico</li></h5>
      <h5><li>TSH</li></h5>
    </ul>
    </ion-card-header>
  </ion-card>

    <ion-card>
    <center>
        <img src="/assets/cli2.jpg">
    </center>
    <ion-card-header>
    <h1>Exerfísicos</h1>
    <ul>
      <h5><li>T3 & T4</li></h5>
      <h5><li>Perimetria</li></h5>
      <h5><li>TSH</li></h5>
      <h5><li>Eletro</li></h5>
    </ul>
    </ion-card-header>
  </ion-card>

    <ion-card>
    <center>
        <img src="/assets/cli3.jpg">
    </center>
    <ion-card-header>
    <h1>Clínica Simões</h1>
    <ul>
      <h5><li>Perimetria</li></h5>
      <h5><li>TSH</li></h5>
      <h5><li>Glicemia</li></h5>
    </ul>
    </ion-card-header>
  </ion-card>

    <ion-card>
    <center>
        <img src="/assets/cli4.jpg">
    </center>
    <ion-card-header>
    <h1>Sani Salud</h1>
    <ul>
      <h5><li>Perimetria</li></h5>
      <h5><li>Ergométrico</li></h5>
      <h5><li>TSH</li></h5>
      <h5><li>Glicemia</li></h5>
    </ul>
    </ion-card-header>
  </ion-card>

    <ion-card>
    <center>
        <img src="/assets/cli5.jpg">
    </center>
    <ion-card-header>
    <h1>Orto Med</h1>
    <ul>
      <h5><li>Perimetria</li></h5>
      <h5><li>Ergométrico</li></h5>
      <h5><li>TSH</li></h5>
      <h5><li>Eletro</li></h5>
    </ul>
    </ion-card-header>
  </ion-card>

    <ion-card>
    <center>
        <img src="/assets/cli6.jpg">
    </center>
    <ion-card-header>
    <h1>Orto DOR</h1>
    <ul>
      <h5><li>Cálcio</li></h5>
      <h5><li>Ergométrico</li></h5>
      <h5><li>TSH</li></h5>
      <h5><li>Eletro</li></h5>
    </ul>
    </ion-card-header>
  </ion-card>

    <ion-card>
    <center>
        <img src="/assets/cli7.jpg">
    </center>
    <ion-card-header>
    <h1>Fisio Dali</h1>
    <ul>
      <h5><li>Perimetria</li></h5>
      <h5><li>Ergométrico</li></h5>
      <h5><li>TSH</li></h5>
    </ul>
    </ion-card-header>
  </ion-card>

    <ion-card>
    <center>
        <img src="/assets/cli8.jpg">
    </center>
    <ion-card-header>
    <h1>Equilíbrio</h1>
    <ul>
      <h5><li>Colesterol</li></h5>
      <h5><li>Ergométrico</li></h5>
      <h5><li>TSH</li></h5>
    </ul>
    </ion-card-header>
  </ion-card>

    <ion-card>
    <center>
        <img src="/assets/cli9.jpg">
    </center>
    <ion-card-header>
    <h1>Part Med</h1>
    <ul>
      <h5><li>Colesterol</li></h5>
      <h5><li>Ergométrico</li></h5>
      <h5><li>Perimetria</li></h5>
      <h5><li>TSH</li></h5>
    </ul>
    </ion-card-header>
  </ion-card>


</ion-content>
