<ion-header>
  <ion-toolbar class="toolbarHeader">
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>Carrinho</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item *ngFor="let Carrinho of itensProduto">
        <ion-grid>
          <ion-row>
            <ion-col size="12" class="imagemCarrinho">
              <center>
                <img width="60px" src="{{Carrinho.fotoEmString}}" />
              </center>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="10">
              <span class="detalhesCarrinho">{{Carrinho.nomeProduto}}</span><br>
              <span class="detalhesCarrinho">{{Carrinho.precoVenda | currency: "BRL"}}</span>
              <ion-item lines="none">
                <ion-select interface="popover" value="1">
                  <ion-select-option value="1">1 unidade</ion-select-option>
                  <ion-select-option value="2">2 unidades</ion-select-option>
                  <ion-select-option value="3">3 unidades</ion-select-option>
                  <ion-select-option value="4">4 unidades</ion-select-option>
                  <ion-select-option value="5">5 unidades</ion-select-option>
                  <ion-select-option value="6">6 unidades</ion-select-option>
                  <ion-select-option value="7">7 unidades</ion-select-option>
                  <ion-select-option value="8">8 unidades</ion-select-option>
                  <ion-select-option value="9">9 unidades</ion-select-option>
                  <ion-select-option value="10">10 unidades</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
            <ion-col size="2">
              <button style="background-color: transparent; margin: 140% 0;" (click)="removeProduto(Carrinho.idCarrinho)">
                <ion-icon color="danger" style="font-size: 20px" name="trash-bin-outline" ></ion-icon>
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
  </ion-card>
</ion-content>
