<ion-header>
  <ion-toolbar class="toolbarHeader">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="" (click)="funcaoBack()"></ion-back-button>
    </ion-buttons>
    <ion-title>Carrinho</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="carrinho.length > 0">
    <ion-item *ngFor="let Carrinho of carrinho">
        <ion-grid>
          <ion-row>
            <ion-col size="3" class="imagemCarrinho">
                <img width="80px" src="{{Carrinho.fotoEmString}}" />
            </ion-col>
            <ion-col size="7">
              <span class="detalhesCarrinho">{{Carrinho.nomeProduto}}</span><br>
              <span class="detalhesCarrinho">{{Carrinho.vlrSubTotal | currency: "BRL"}}</span><br><br>
              <span>Quantidade: </span>
              <span>{{ Carrinho.quantidadeCarrinho }}</span><br>
              <button (click)="addQtde(Carrinho.idCarrinho, Carrinho.quantidadeCarrinho + 1)" style="background-color: transparent"><ion-icon color="primary" name="add-circle-outline"></ion-icon></button>
              <button (click)="removeQtde(Carrinho.idCarrinho, Carrinho.quantidadeCarrinho - 1)" style="background-color: transparent"><ion-icon color="danger" name="remove-circle-outline"></ion-icon></button>
            </ion-col>
            <ion-col size="2">
              <button style="background-color: transparent; margin: 90% 0;" (click)="removeProduto(Carrinho.idCarrinho)">
                <ion-icon color="danger" style="font-size: 20px" name="trash-bin-outline" ></ion-icon>
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item><br>
      <span class="detalhesCarrinho">Total da compra: {{vlrTotal | currency: "BRL"}}</span><br><br>
      <ion-button [routerLink]="['/home']" expand="full" color="primary">
        Continuar comprando
      </ion-button>
      <ion-button (click)="confirmarEndereco()" expand="full" color="primary">
        Finalizar compra
      </ion-button>
  </ion-card>
  <ion-card *ngIf="carrinho.length == 0" class="carrinhoVazio">
    <h4>Nenhum produto cadastrado no carrinho</h4>
  </ion-card>
</ion-content>
