<app-header titulo="Suplementos"></app-header>

<ion-content>

  <ion-card>
<center>
    <img src="/assets/sup.jpg" width="150">
</center>
    <ion-card-header>
<h1>MAX Titanium</h1>
    <ul>
      <h4><li>100% Whey</li></h4>
    </ul>
 </ion-card-header>
  </ion-card>
  <ion-card>
<center>
    <img src="/assets/sup1.jpg" width="150">
</center>
    <ion-card-header>
<h1>MAX Titanium</h1>
    <ul>
      <h4><li>Creatine</li></h4>
    </ul>
 </ion-card-header>
  </ion-card>
  <ion-card>
<center>
    <img src="/assets/sup2.jpg" width="150">
</center>
    <ion-card-header>
<h1>MAX Titanium</h1>
    <ul>
      <h4><li>BCAA 2400</li></h4>
    </ul>
 </ion-card-header>
  </ion-card>
  <ion-card>
<center>
    <img src="/assets/sup3.jpg" width="150">
</center>
    <ion-card-header>
<h1>MAX Titanium</h1>
    <ul>
      <h4><li>Multimax Complex</li></h4>
    </ul>
 </ion-card-header>
  </ion-card>

</ion-content>
