<app-cabecalho-back titulo="Vouchers"></app-cabecalho-back>

<ion-content>

  <ion-card>
    <center>
        <img src="/assets/icon/vavalia.png">
    </center>
        <ion-card-header>
          <h5>Academias Parceiras.</h5>
     </ion-card-header>
      </ion-card>

  <ion-card>
    <center>
        <img src="/assets/icon/vfisio.png">
    </center>
        <ion-card-header>
          <h5>2 Sessões de 30 minutos cada.</h5>
     </ion-card-header>
      </ion-card>

  <ion-card>
    <center>
        <img src="/assets/icon/vconsul.png">
    </center>
        <ion-card-header>
          <h5>Clínicas Parceiras.</h5>
     </ion-card-header>
      </ion-card>

  <ion-card>
    <center>
        <img src="/assets/icon/vgift5dia.png">
    </center>
        <ion-card-header>
          <h5>Academias Parceiras.</h5>
     </ion-card-header>
      </ion-card>

  <ion-card>
    <center>
        <img src="/assets/icon/vgift1.png">
    </center>
        <ion-card-header>
          <h5>Consulta + Fisio.</h5>
     </ion-card-header>
      </ion-card>

  <ion-card>
    <center>
        <img src="/assets/icon/vgift2.png">
    </center>
        <ion-card-header>
          <h5>Avaliação + Gyn Pass.</h5>
     </ion-card-header>
      </ion-card>

  <ion-card>
    <center>
        <img src="/assets/icon/vgift3.png">
    </center>
        <ion-card-header>
          <h4>Avalição + Consulta + Fisio.</h4>
     </ion-card-header>
      </ion-card>



</ion-content>
