<ion-header>
  <ion-toolbar class="toolbarHeader">
    <ion-menu-button *ngIf="!barraPesquisar" slot="start"></ion-menu-button>
    <ion-title *ngIf="!barraPesquisar">Generally Sports</ion-title>
    <ion-buttons *ngIf="!barraPesquisar" slot="end">
      <ion-button *ngIf="!barraPesquisar" (click)="barraPesquisar=true"><ion-icon name="search"></ion-icon></ion-button>
      <ion-button><ion-icon name="cart"></ion-icon></ion-button>
    </ion-buttons>
    <ion-searchbar *ngIf="barraPesquisar" placeholder="Pesquisar produtos" animated (ionChange)="buscarProduto($event)" (ionCancel)="barraPesquisar=false" showCancelButton="true"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="botoesCategorias">
    <ion-fab-button [routerLink]="['/home/']"><ion-icon name="bag-handle"></ion-icon></ion-fab-button>
    <ion-fab-button [routerLink]="['/suplementos/']"><ion-icon name="podium"></ion-icon></ion-fab-button>
    <ion-fab-button [routerLink]="['/modas/']"><ion-icon name="shirt"></ion-icon></ion-fab-button>
    <ion-fab-button [routerLink]="['/acessorios/']"><ion-icon name="basketball"></ion-icon></ion-fab-button>
  </div>
  <div class="labelsBotoesCategorias">
    <ion-label class="labelProdutosCategorias">Produtos</ion-label>
    <ion-label class="labelProdutosCategorias">Suplementos</ion-label>
    <ion-label class="labelProdutosCategorias">Modas</ion-label>
    <ion-label class="labelProdutosCategorias">Acessórios</ion-label>
  </div>
  <ion-card>
    <h6 class="titulo center">Produtos</h6>
    <ion-item *ngFor="let Produtos of produtos | filtro:pesquisar" [routerLink]="['/detalhesProduto/' + Produtos.idProduto]">
      <img width="40px" src="{{Produtos.fotoEmString}}" />
      <span>
        {{Produtos.nomeProduto}}<br>
        {{Produtos.precoVenda | currency: "BRL"}}<br>
        <span class="produtoIndisponivel" *ngIf="Produtos.quantidadeEstoque == 0">Indisponível</span>
      </span>
      <hr>
    </ion-item>
  </ion-card>
</ion-content>
<ion-footer class="ion-no-border">
    <ion-button (click)="logout()">Sair</ion-button>
</ion-footer>
