<app-header titulo="Nossos Produtos"></app-header>
<ion-content>
<ion-list>

  <ion-item color="dark">
    <ion-text color="warning">
    <h4>Roupas</h4>
    </ion-text>
  </ion-item>
    <ion-card>
    <ion-item href="">
      <ion-icon name="arrow-forward-circle" slot="end"></ion-icon>
      <ion-label>Maculino</ion-label>
    </ion-item>
    <ion-item href="#">
      <ion-icon name="arrow-forward-circle" slot="end"></ion-icon>
      <ion-label>Feminino</ion-label>
    </ion-item>
    </ion-card>

  <ion-item color="dark">
    <ion-text color="warning">
      <h4>Calçados</h4>
      </ion-text>
    </ion-item>
  <ion-card>
    <ion-item href="">
      <ion-icon name="arrow-forward-circle" slot="end"></ion-icon>
      <ion-label>Maculino</ion-label>
    </ion-item>
    <ion-item href="#">
      <ion-icon name="arrow-forward-circle" slot="end"></ion-icon>
      <ion-label>Feminino</ion-label>
    </ion-item>
  </ion-card>

  <ion-item color="dark">
    <ion-text color="warning">
      <h4>Bolas</h4>
      </ion-text>
    </ion-item>
  <ion-card>
    <ion-item href="">
      <ion-icon name="arrow-forward-circle" slot="end"></ion-icon>
      <ion-label>Maculino</ion-label>
    </ion-item>
    <ion-item href="#">
      <ion-icon name="arrow-forward-circle" slot="end"></ion-icon>
      <ion-label>Feminino</ion-label>
    </ion-item>
  </ion-card>

  <ion-item color="dark">
    <ion-text color="warning">
      <h4>Cordas</h4>
      </ion-text>
    </ion-item>
  <ion-card>
    <ion-item href="">
      <ion-icon name="arrow-forward-circle" slot="end"></ion-icon>
      <ion-label>Maculino</ion-label>
    </ion-item>
    <ion-item href="#">
      <ion-icon name="arrow-forward-circle" slot="end"></ion-icon>
      <ion-label>Feminino</ion-label>
    </ion-item>
  </ion-card>

  <ion-item color="dark">
    <ion-text color="warning">
      <h4>Blá</h4>
    </ion-text>
  </ion-item>
  <ion-card>
    <ion-item href="">
      <ion-icon name="arrow-forward-circle" slot="end"></ion-icon>
      <ion-label>Maculino</ion-label>
    </ion-item>
    <ion-item href="#">
      <ion-icon name="arrow-forward-circle" slot="end"></ion-icon>
      <ion-label>Feminino</ion-label>
    </ion-item>
  </ion-card>

</ion-list>
</ion-content>
